{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<section>
   <article>
      <h1>Menu item</h1>
      <span>
         <a href="{% url 'home' %}">Home</a> /
         <a href="{% url 'menu' %}">Menu</a>/{{menu_items.name}}
      </span>
      <!--Begin row-->
      <div class="row">
         <!--Begin col-->
         <div class="column">
            <h2>
               {{menu_items.name}}
            </h2>
            <p>
               {{menu_items.menu_item_description}}
            </p>
            <p>
            Price: ${{menu_items.Price}}.00
            </p>
         </div>
         <!--End col-->
         <!--Begin col-->

         {% static 'img/menu_items' as base_url %}

        <div class="column">
            <img src="{{base_url}}/{{menu_items.name}}.jpg" alt="{{ menu_items.name}}"/>
         </div>
         <!--End col-->
      </div>
      <!--End row-->
   </article>
</section>
{% endblock %}